In [1]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet, end=' ')

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [2]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet)

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [6]:
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
    product = product * mult
    
product

#1*2=2, 2*2=4,4*2=8, 8*3=24, 24*3= 72, 72*5=360

360

In [7]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')

HELLO

In [8]:
for i in range(5):
    print("Doing important work. i =", i)

Doing important work. i = 0
Doing important work. i = 1
Doing important work. i = 2
Doing important work. i = 3
Doing important work. i = 4

# While Loop: which iterates until some condition is met:

In [9]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1 # increase the value of i by 1

0 1 2 3 4 5 6 7 8 9

# List comprehensions
List comprehensions are one of Python's most beloved and unique features. The easiest way to understand them is probably to just look at a few examples:

n**2 is n square

In [10]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

same thing without List comprehenses

In [12]:
squares = []
for n in range(10):
    squares.append(n**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['Venus', 'Earth', 'Mars']

In [16]:
loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]
loud_short_planets

['VENUS!', 'EARTH!', 'MARS!']

In [18]:
[
    planet.upper() + '!' 
    for planet in planets 
    if len(planet) < 6
]

#same but splitted into 3 lines

['VENUS!', 'EARTH!', 'MARS!']

In [19]:
[32 for planet in planets]

[32, 32, 32, 32, 32, 32, 32, 32]

In [27]:
def count_negatives(nums):
    """Return the number of negative numbers in the given list.
    
    >>> count_negatives([5, -1, -2, 0, 3])
    2
    """
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative = n_negative + 1
    return n_negative
num = [1,-2,3,-4,5]
count_negatives(num)

2

In [28]:
def count_negatives(nums):
    return len([num for num in nums if num < 0])

num = [1,-2,3,-4,5]
count_negatives(num)

2

In [29]:
def count_negatives(nums):
    # Reminder: in the "booleans and conditionals" exercises, we learned about a quirk of 
    # Python where it calculates something like True + True + False + True to be equal to 3.
    return sum([num < 0 for num in nums])
num = [1,-2,3,-4,-5]
count_negatives(num)

3