In [ ]:
prime_numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands1 = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [ ]:
hands[0]

['J', 'Q', 'K']

In [ ]:
hands1 = [['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], 
    33,
    44
]
print(hands1)

[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K'], 33, 44]

In [ ]:
print(prime_numbers)
print(hands)
print(hands1)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]
[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K'], 33, 44]

In [ ]:
my_favourite_things = [32, 'raindrops on roses', help]

In [ ]:
my_favourite_things

[32,
 'raindrops on roses',
 Type help() for interactive help, or help(object) for help about object.]

# Indexing

In [ ]:
planets[0]

'Mercury'

In [ ]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
planets[-1]

'Neptune'

In [ ]:
planets[0:5] #called slicing

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']

In [ ]:
planets[:5]

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']

In [ ]:
planets[4:]

['Jupiter', 'Saturn', 'Uranus', 'Neptune']

## Changing lists
## lists are mutable

In [ ]:
planets[1]

'Venus'

In [ ]:
planets[1] = 'VENUS with Cap'

In [ ]:
planets[1]

'VENUS with Cap'

In [ ]:
#length

len(planets)

8

In [ ]:
#sorted gives alphabetic order
sorted(planets)

['Earth',
 'Jupiter',
 'Mars',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'VENUS with Cap']

In [ ]:
primes = [2,3,5,7]
sum(primes)

17

In [ ]:
max(primes)

7

In [ ]:
min(primes)

2

# Append : modify list by adding an item at the end

In [ ]:
planets.append('Pluto')

In [ ]:
planets

['Mercury',
 'VENUS with Cap',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

# pop() removes and returns the last element from list

In [ ]:
planets.pop()

'Pluto'

In [ ]:
planets

['Mercury',
 'VENUS with Cap',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

# Search

In [ ]:
planets.index('Earth')

2

In [ ]:
'Earth' in planets

True

# Challenge 1

In [ ]:
def select_second(L):
    """Return the second element of the given list. If the list has no second
    element, return None.
    """
    if len(L) < 2:
        return None
    return L[1]
    pass

# Challenge 2
You are analyzing sports teams. Members of each team are stored in a list. The Coach is the first name in the list, the captain is the second name in the list, and other players are listed after that. These lists are stored in another list, which starts with the best team and proceeds through the list to the worst team last. Complete the function below to select the captain of the worst team.

In [ ]:
# example: list = [[coach, captain, player1...]]
def losing_team_captain(teams):
    """Given a list of teams, where each team is a list of names, return the 2nd player (captain)
    from the last listed team
    """
    return teams[-1][1]
    pass

# Challenge 3, , Swapping
The next iteration of Mario Kart will feature an extra-infuriating new item, the Purple Shell. When used, it warps the last place racer into first place and the first place racer into last place. Complete the function below to implement the Purple Shell's effect.

In [ ]:
def purple_shell(racers):
    """Given a list of racers, set the first place racer (at the front of the list) to last
    place and vice versa.
    
    >>> r = ["Mario", "Bowser", "Luigi"]
    >>> purple_shell(r)
    >>> r
    ["Luigi", "Bowser", "Mario"]
    """
    temp = racers[0]
    racers[0] = racers[-1]
    racers[-1] = temp
    pass
​

SyntaxError: ignored

# Challenge 4
What are the lengths of the following lists? Fill in the variable lengths with your predictions. (Try to make a prediction for each list without just calling len() on it.)

In [ ]:
a = [1, 2, 3]
b = [1, [2, 3]]
c = []
d = [1, 2, 3][1:]
print(len(a),
len(b),
len(c),
len(d))

3 2 0 2

#Challenge 5
We're using lists to record people who attended our party and what order they arrived in. For example, the following list represents a party with 7 guests, in which Adela showed up first and Ford was the last to arrive:

party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']
A guest is considered 'fashionably late' if they arrived after at least half of the party's guests. However, they must not be the very last guest (that's taking it too far). In the above example, Mona and Gilbert are the only guests who were fashionably late.

Complete the function below which takes a list of party attendees as well as a person, and tells us whether that person is fashionably late.

In [ ]:
def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    order = arrivals.index(name)
    return order >= len(arrivals)/2 and order!=len(arrivals) -1

In [78]:
arrivals = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']
name = 'Gilbert'

In [79]:
fashionably_late(arrivals,name)

True